/* Third Party Libary */
@import url(bootstrap.min.css);


@import url(reset.css);
@import url(global.css);
@import url(layout.css);
@import url(module.css);





/* Third Party Libary */
@import url(font-awesome.min.css);



.ng-hide{display:none !important}


