<div class="well well-sm">
	<div class="row">
		<div class="col-md-12">
		
			<div class="pull-right">
				<a ui-sref="catalog.addcategory" class="btn btn-success" ui-sref="catalog.additem">Add Item</a>
			</div>
		</div>
	</div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Manage Categories</h3>
  </div>
  <div class="panel-body">
         		<table class="table table-top table-striped table-bordered table-hover table-condensed">
    		    	<tr>
    		    		<th></th>
    		    		<th>Category Code</th>
    		    		<th>Category Name</th>
    		    		<th>Total Items</th>
    		    		<th>Restaurant Name</th>
    		    		<th>Print Piority</th>
    		    		<th>
    		    			<center>
    		    				<div class="btn-group" dropdown>
    		    				  <button type="button" class="btn btn-xs btn-default">Action</button>
    		    				  <button type="button" class="btn btn-xs btn-default dropdown-toggle" dropdown-toggle>
    		    				    <span class="caret"></span>
    		    				  </button>
    		    				  <ul class="dropdown-menu" role="menu">
    		    				   	<li><a href="" ng-click="removeItem()">Delete</a></li>
    		    				  </ul>
    		    				</div>

    		    			</center>
    		    		</th>
    		    	</tr>

    		    	<tr class="row-filter">
    		    		<td width="2%"></td>
    		    		<td><input type="text" ng-model="items.search.code"></td>
    		    		<td><input type="text" ng-model="items.search.name"></td>
    		    		<td><input type="text" ng-model="items.search.cat"></td>
    		    		<td><input type="text" ng-model="items.search.resturent"></td>
    		    		<td><input type="text" ng-model="items.search.status"></td>
    		    		<td><input type="text" ng-model="items.search.price"></td>
    		    		<td class="disable"></td>
    		    		
    		    	</tr>

    		    	<tr ng-repeat="item in items |filter:items.search">
    		    		<td>
    		    			<input type="checkbox"  ng-click="checkedItem($index)" />
    		    		</td>
    		    		<td>{{item.code}}</td>
    		    		<td>{{item.cat}}</td>
    		    		<td>{{item.price}}</td>
    		    		<td>{{item.resturent}}</td>
    		    		<td><span class="label label-default label-{{item.status}}">{{2}}</span></td>
    		    		<td><a ui-sref="catalog.addcategory" class="btn btn-info btn-xs">view</a></td>
    		    	</tr>

    		    
    		    	
    		    	
    		    	
    		    	

    	    	</table>
  </div>
</div>