<h1 class="page-header">
	Marketing <small>Email Marketing</small>
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar">
			<ul class="nav nav-pills nav-stacked">
			  <li ui-sref-active="active"><a ui-sref="emailmarketing.manageTemplate">Manage NewsLetter Templates</a></li>
			  <li ui-sref-active="active"><a ui-sref="emailmarketing.manageNewsletter">Manage Newsletter</a></li>
			  <li ui-sref-active="active"><a ui-sref="emailmarketing.createNewsletter">New Campaign</a></li>
			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-10 viewloared" ui-view></div>
</div>