<h1 class="page-header">
	Marketing  <small>Manage Subscriber</small>
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar">
			<ul class="nav nav-pills nav-stacked">
				<li ui-sref-active="active"><a ui-sref="managesubscriber">Subscriber Management</a></li>
			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-10">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-user"></i> Manages Subscriber</h3>
			</div>
			<div class="panel-body">
				<table class="table table-top table-striped table-bordered table-hover table-condensed">
					<tr>
						<th></th>
						<th>Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Restaurant name</th>
						<th>
							<center>
								<div class="btn-group" dropdown>
									<button type="button" class="btn btn-xs btn-default">Action</button>
									<button type="button" class="btn btn-xs btn-default dropdown-toggle" dropdown-toggle>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="" ng-click="">Subscribed</a></li>
										<li><a href="" ng-click="">Unsubscribed</a></li>
									</ul>
								</div>

							</center>
						</th>
					</tr>

					<tr class="row-filter">
						<td width="2%" class="disable"></td>
						<td><input type="text" ng-model="items.search.name"></td>
						<td><input type="text" ng-model="items.search.email"></td>
						<td><input type="text" ng-model="items.search.phone"></td>
						<td><input type="text" ng-model="items.search.resturent"></td>
						<td class="disable"></td>

					</tr>

					<tr ng-repeat="item in subscribers |filter:items.search">
						<td>
							<input type="checkbox"  ng-click="checkedItem($index)" />
						</td>
						<td>{{item.name}}</td>
						<td>{{item.email}}</td>
						<td>{{item.phone}}</td>
						<td>{{item.resturent}}</td>

						<td>
							<center>
								<div class="btn-group">
								    <label class="btn btn-default btn-xs" ng-model="item.status" btn-radio="'true'">Subscribed</label>
								    <label class="btn btn-default btn-xs" ng-model="item.status" btn-radio="">Unsubscribed</label>
								</div>
							</center>
						</td>
					</tr>







				</table>
			</div>
		</div>
	</div>
</div>