<div class="well well-sm">
  <div class="row">
    <div class="col-md-12">
      <div class="pull-right">
        <a  ui-sref="page.createpage" class="btn btn-success">Add</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-file-text"></i>Manages Pages</h3>
  </div>
  <div class="panel-body">
  	     		<table class="table table-top table-striped table-bordered table-hover table-condensed">
  			    	<tr>
                <th></th>
  			    		<th>Page Code</th>
  			    		<th>Page Title</th>
  			    		<th>Restaurant Name</th>
                <th>Page Status</th>
                <th>Display Main Menu</th>
  			    		<th>
  			    			<center>
  			    				<div class="btn-group" dropdown>
  			    				  <button type="button" class="btn btn-xs btn-default">Action</button>
  			    				  <button type="button" class="btn btn-xs btn-default dropdown-toggle" dropdown-toggle>
  			    				    <span class="caret"></span>
  			    				  </button>
  			    				  <ul class="dropdown-menu" role="menu">
  			    				   	<li><a href="" ng-click="">Enable</a></li>
                        <li><a href="" ng-click="">Disable</a></li>
  			    				   	<li><a href="" ng-click="">Delete</a></li>
  			    				  </ul>
  			    				</div>

  			    			</center>
  			    		</th>
  			    	</tr>

  			    	<tr class="row-filter">
  			    		<td width="2%" class="disable"></td>
  			    		<td><input type="text" ng-model="items.search.code"></td>
                <td><input type="text" ng-model="items.search.title"></td>
                <td><input type="text" ng-model="items.search.resturent"></td>
                <td>
                  <select ng-model="items.search.status">
                    <option value="">All</option>
                    <option value="enable">Enable</option>
                    <option value="disable">Disable</option>
                  </select>
                </td>
                <td class="disable">
                  <select ng-model="items.search.status">
                    <option value="">All</option>
                    <option value="enable">Yes</option>
                    <option value="disable">No</option>
                  </select>
                </td>
                <td class="disable"></td>
  			    		
  			    	</tr>

  			    	<tr ng-repeat="item in pages |filter:items.search">
  			    		<td>
  			    			<input type="checkbox"  ng-click="checkedItem($index)" />
  			    		</td>
  			    		<td>{{item.code}}</td>
  			    		<td>{{item.title}}</td>
  			    		<td>{{item.resturent}}</td>
                <td><span class="label label-default label-{{item.status}}">{{item.status}}</span></td>
  			    		<td><span class="label label-default label-{{item.isMenue}}">{{item.isMenue}}</span></td>
                  
                <td>
                  <center>
                    <a  ui-sref="page.createpage" class="btn btn-xs btn-info">View</a>
                    <a  ui-sref="page.createpage" class="btn btn-xs btn-warning">Edit</a>
                  </center>
                </td>
  			    	</tr>

  			    
  			    	
  			    	
  			    	
  			    	

  		    	</table>
  </div>
</div>