
<div class="well well-sm">
	<div class="row">
		<div class="col-md-12">
		
			<div class="pull-right">
				<a href="" class="btn btn-default">Back</a>
				<a href="" class="btn btn-danger">Cancle</a>
				<a href="" class="btn btn-info">Save & Preview</a>
				<a href="" class="btn btn-success">Save</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title"><i class="fa fa-file-text"></i>  Page Information</h3>
		  </div>
		  <div class="panel-body">
		    <form class="form-horizontal">
		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Page Code</label>
		    	  <div class="col-lg-10"><input type="text" class="form-control"></div>
		    	</div>

		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Page Title</label>
		    	  <div class="col-lg-10"><input type="text" class="form-control"></div>
		    	</div>


		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Page Type</label>
		    	  <div class="col-lg-10">
		    	  		<div class="btn-group" ng-init="pageType='1'">   
		    	  	        <label class="btn btn-default" ng-model="pageType" btn-radio="'1'">Custom page</label>
		    	  	        <label class="btn btn-default" ng-model="pageType" btn-radio="'2'">Contact page</label>
		    	  	        <label class="btn btn-default" ng-model="pageType" btn-radio="'3'">Item category page</label>
		    	  	        <label class="btn btn-default" ng-model="pageType" btn-radio="'4'">Customer Review Page</label>
		    	  	    </div>
		    	  </div>
		    	</div>
		   
		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Page Body Editor</label>
		    	  <div class="col-lg-10">
		    	  	<text-angular ng-model="pagebody"></text-angular>
		    	  </div>

		    	</div>

		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Enable</label>
		    	  <div class="col-lg-10">
		    	  		<div class="btn-group" ng-init="isEnable='1'">   
		    	  	        <label class="btn btn-default" ng-model="isEnable" btn-radio="'1'">Yes</label>
		    	  	        <label class="btn btn-default" ng-model="isEnable" btn-radio="'2'">No</label>
		    	  	    </div>
		    	  </div>
		    	</div>

		    	<div class="form-group">
		    	  <label for="inputEmail" class="col-lg-2 control-label">Display in Main Menu</label>
		    	  <div class="col-lg-10">
		    	  		<div class="btn-group" ng-init="isInmenue='2'">   
		    	  	        <label class="btn btn-default" ng-model="isInmenue" btn-radio="'1'">Yes</label>
		    	  	        <label class="btn btn-default" ng-model="isInmenue" btn-radio="'2'">No</label>
		    	  	    </div>
		    	  </div>
		    	</div>


	    	</form>
		  </div>
		</div>
	</div>
</div>