<h1 class="page-header">
	Manage Sales
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar">
			<ul class="nav nav-pills nav-stacked">
			  <li ui-sref-active="active"><a ui-sref="sales.neworder">New Orders</a></li>
			  <li ui-sref-active="active"><a ui-sref="sales.prevorder">Previous Orders</a></li>
			  <li ui-sref-active="active"><a ui-sref="sales.createorder">Create Quick Order</a></li>
			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-10 viewloared" ui-view></div>
</div>