<h1 class="page-header">
	Sales Report
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar"></div>
	</div>

	<div class="col-lg-10 col-md-10">
		<tabset>
		    <tab>
		      <tab-heading>Weekly Report</tab-heading>
	    	</tab>

		    <tab>
		      <tab-heading>
		        Monthly Report
		      </tab-heading>
	    	</tab>

		    <tab>
		      <tab-heading>
		        By Location
		      </tab-heading>
	    	</tab>

	    </tabset>
		
	</div>
</div>