<h1 class="page-header">
	Marketing  <small>SMS Marketing</small>
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar">
			<ul class="nav nav-pills nav-stacked">
			  <li ui-sref-active="active"><a ui-sref="sms.managetemplate">SMS Template</a></li>
			  <li ui-sref-active="active"><a ui-sref="sms.managecampaign">Manage SMS</a></li>
			  <li ui-sref-active="active"><a ui-sref="sms.smsusages">SMS Usage</a></li>
			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-10 viewloared" ui-view></div>
</div>