<h1 class="page-header">
	Table Booking
</h1>
<div class="vsap"></div>
<div class="vsap"></div>
<div class="row">
	<div class="col-lg-2 col-md-2">
		<div class="m-sidebar">
			<ul class="nav nav-pills nav-stacked">
			 	<li ui-sref-active="active"><a ui-sref="tablebooking.managebooking">Manage Bookings </a></li>
			 	<li ui-sref-active="active"><a ui-sref="tablebooking.managetables">Manage Tables</a></li>
			 	<<!-- li ui-sref-active="active"><a ui-sref="tablebooking.managesettingareas">Manage­ Setting­ Areas</a></li> -->

			</ul>
		</div>
	</div>

	<div class="col-lg-10 col-md-10 viewloared" ui-view></div>
</div>